.MusicCard {
    height: fit-content;
    max-width: 300px;
    position: relative;
}

.MusicCard img {
    width: 100%;
    position: relative;
    padding: 3px;
    z-index: 2;
}

.selected {
    left: 1px;
    width: 305px;
    height: 305px;
    background: pink;
    position: absolute;
    overflow: hidden;
    z-index: 1
}

.playing {
    left: 1px;
    width: 305px;
    height: 305px;
    background: pink;
    position: absolute;
    overflow: hidden;
    z-index: 1
}

.playing::before {
    content: '';
    position: absolute;
    width: 310px;
    background-image: linear-gradient(90deg, #fff, rgb(194, 23, 52));
    height: 310px;
    animation: playing 3s linear infinite;
    transition: all .2s linear;
}

@keyframes playing {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}

.playing::after {
    content: '';
    position: absolute;
    background: pink;
}