.Header {
    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 45px 10px;

    width: 100vw;
    box-sizing: border-box;

    color: #FFF;

    height: 10vh;
    border-bottom: 1px gray solid;

    position: sticky;
    top: 0;

    background-color: rgb(22, 22, 22);

    z-index: 3;

}

.Header .logo {
    display: flex;
    width: 100%;
}

.Header .logo img {
    width: 70%;
    max-width: 300px;
    margin: 0 auto;
}

.Header nav {
    display: flex;
    align-items: center;

    gap: 20px
}

.Header nav p {
    font-size: 16px;
    margin: 0;
}

.Header .profile-pic {
    width: 40px;
    height: 40px;

    border-radius: 50%;
}

@media (min-width:1000px) {
    .Header .logo img {
        margin: 0;
        margin-left: 20px;
    }
}