.Player {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    width: 100vw;
    padding: 10px 40px;
    position: sticky;
    background-color: rgb(22, 22, 22);
    bottom: 0;
    z-index: 3;
}


.Player .info {
    display: flex;
    flex-direction: column;
    gap: 1px;
    margin-bottom: 10px;
}

.Player .info h2,
.Player .info p {
    margin: 0;
}

.Player .music-controls {
    width: 100%;
    display: flex;
    flex-direction: column-reverse;

    align-items: center;
    justify-content: center;
}


.Player .controller {
    position: relative;
    display: flex;
    gap: 10px;
    height: 40px;
}

.Player .controller img {
    cursor: pointer;
}

.Player .controller img[alt="stop"] {
    left: -70px;
    height: 40px;
}

.Player .music-controls audio {
    width: 100%;
}

.Player .music-controls audio::-webkit-media-controls-enclosure {
    display: flex;
    align-items: center;
    background-color: transparent;


}

.Player .music-controls audio::-webkit-media-controls-timeline {
    width: 100%;
}

.Player .music-controls audio::-webkit-media-controls-panel {
    background-color: rgba(255, 255, 255, 0.247);
}

.Player .music-controls audio::-webkit-media-controls-play-button {
    display: none;
}

@media (min-width:800px) {
    .Player .music-controls {
        flex-direction: column;
    }

    .Player .controller {
        height: 60px;
        gap: 20px
    }

    .Player .controller img[alt="stop"] {
        height: 60px;
        position: absolute;
        left: -80px
    }
}

@media (min-width:1350px) {
    .Player {
        flex-direction: row;
        padding: 20px 40px;
    }

    .Player .info {
        position: absolute;
    }


    .Player .music-controls audio {
        width: 70%;
        margin: 0 auto;
    }
}